// Sample colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0079FF;
$color-orange: #FFB429;
$color-shadow: #d1d3e6;
$color-cancel: #FE4A23;
$color-neutral: #F5F5FA;
$color-border: #A8A8C3;
$box-shadow-color: #005EC7;

$kml-color-azul: #0079FF;
$kml-color-rosa: #FE43D1;
$kml-color-amarelo: #FFC13D;
$kml-color-verde: #1DC763;
$kml-color-roxo: #7251E7;
$kml-color-laranja: #FE6E46;
$kml-color-laranja-escuro: #FE4A23;
$kml-color-cinza:#869193;
$kml-color-preto:#0D2226;

// State colors
$color-error-400: #FE4A23;
$color-success-400: #1DC763;

// Pallete colors
$color-primary-100: #4EC7FF;
$color-primary-200: #869193; // kml-cinza
$color-primary-300: #3581FF;
$color-primary-400: #0079FF;
$color-primary-500: #6F27D9;
$color-primary-900: #0d2226;

$color-secondary-100: #172B4D;

// Colors Shadow
$color-shadow-primary-100: #E5E5E5;

//Color Progress
$color-progress-100: #F14E77;

// UI dashboard colors
$color-menu-primary-100: #0079FF;

/*

// Sample colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #1E90FF;
$color-orange: #FFB429;
$color-shadow: #d1d3e6;
$color-cancel: #FE4A23;
$color-neutral: #F5F5FA;
$color-border: #A8A8C3;
$box-shadow-color: #2A0362;


// State colors
$color-error-400: #F54337;
$color-success-400: #12CE66;

// Pallete colors
$color-primary-100: #4EC7FF;
$color-primary-200: #A8A8C3;
$color-primary-300: #3581FF;
$color-primary-400: #8A3AFF;
$color-primary-500: #6F27D9;
$color-primary-900: #444481;

$color-secondary-100: #172B4D;

// Colors Shadow
$color-shadow-primary-100: #E5E5E5;

//Color Progress
$color-progress-100: #F14E77;

// UI dashboard colors
$color-menu-primary-100: #8A3AFF;


*/
