<p>posts works!</p>

<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Postagens">
    <section class="container-main">
      <div class="container-main__posts">
        <mat-card class="example-card" *ngFor="let post of currentItemsToShow">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ post?.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ post?.body }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="container-main__pagination">
        <mat-paginator (page)="handlePageEvent($event)" [length]="100" [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Albuns">Content 2</mat-tab>
  <mat-tab label="TO-DOs">Content 3</mat-tab>
</mat-tab-group> -->