@import '~src/assets/scss/core/mixins/mixins';
@import '~src/assets/scss/core/variables/variables';

:host {
  overflow-y: auto;
}

.posts {
  @include flexbox();
  @include flex-direction(column);

  width: 100%;
  height: 100%;
  background-color: #edeff3;
  &__container {
    @include flexbox();
    @include flex-direction(column);

    height: calc(100% - 55px);
    overflow-y: auto;
    padding: 15px;
  }
}