%container {
  padding: { left: 32px; right: 32px }
}

%container-vertical {
  padding: { top: 20px; bottom: 20px; }
}

%container-vertical--large {
  padding: { top: 30px; bottom: 11px; }
}

%container-vertical-school--medium {
  margin: { top: 35px; }
}