<section class="menu">
  <div class="menu__logo">
    <p><b>L</b>ist <b>A</b>pplication</p>
  </div>
  <div class="menu__items">
    <button class="menu__items-content" mat-button routerLinkActive="--active" routerLink="/post"
      (click)="activedRouter('post')">
      <img src="assets/icons/post.svg" alt="icon" />
      <p>Posts</p>
    </button>

    <button class="menu__items-content" mat-button routerLinkActive="--active" routerLink="/album"
      (click)="activedRouter('album')">
      <img src="assets/icons/album.svg" alt="icon" />
      <p>Albums</p>
    </button>

    <button class="menu__items-content" mat-button routerLinkActive="--active" routerLink="/todo"
      (click)="activedRouter('todo')">
      <img src="assets/icons/to-do-list.svg" alt="icon" />
      <p>Todo</p>
    </button>
  </div>
</section>